<hr>
<!-- <div style="width: 100%;" align="end">
    <button class="mt-2 btn btn-outline-primary" (click)='createPDF()'>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-printer" viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
            <path
                d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
        </svg>
        Imprimir historial
    </button>
</div> -->
<div id="htmlData">
    <div style="width: 100%;font-weight: bold;" align="center">
        <h1>Historia CLinica</h1>
    </div>
    <hr>
    
    <h3 style="font-weight: bold;">
        Datos Personales:
    </h3>
    
    
    <div class="datos-personales">
        <p><a>DNI:</a> {{this.paciente?.dni}}</p>
        <p><a>Apellido:</a> {{this.paciente?.apellido}}</p>
        <p><a>Nombre:</a> {{this.paciente?.nombre}}</p>
        <p><a>Edad:</a> {{this.paciente?.edad}}</p>
        <p><a>Mail:</a> {{this.paciente?.mail}}</p>
        <p><a>Obra Social:</a> {{this.paciente?.obra_social}}</p>
    </div>
    
    <hr>
    
    <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
        <strong>Cargando historial clinico...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>

    <div *ngIf="!this.spinner">
        <div *ngIf="this.listTurnosRealizadosXpaciente.length != 0">
            <div *ngFor="let datos of this.listTurnosRealizadosXpaciente">
                <div>
                    <h3>Consulta: {{datos.especialidad}} </h3>
                    <h4>Fecha del turno: {{datos.fecha}}</h4>
                </div>
                <p><a>Altura: </a>{{datos.datosHC.altura}}</p>
                <p><a>Peso: </a>{{datos.datosHC.peso}}</p>
                <p><a>Temperatura: </a>{{datos.datosHC.temperatura}}</p>
                <p><a>Presión: </a>{{datos.datosHC.presion}}</p>
                
                <p><a>Reseña del turno: </a> {{datos.resenea}}</p>
            
                <h4>Observaciones:</h4>
                <p><a>{{datos.datosHC.datos_1[0]}}: </a>{{datos.datosHC.datos_1[1]}}</p>
                <p><a>{{datos.datosHC.datos_2[0]}}: </a>{{datos.datosHC.datos_2[1]}}</p>
                <p><a>{{datos.datosHC.datos_3[0]}}: </a>{{datos.datosHC.datos_3[1]}}</p>
            
                <hr>
            </div>
        </div>

        <div *ngIf="this.listTurnosRealizadosXpaciente.length == 0">
            <h3>No se encontraron datos.</h3>
        </div>
    </div>
</div>