
h1, h2, h3, h4{
    text-transform: uppercase;
    font-weight: bold;
    color: #008B81;
}


a{
    font-weight: bold;
}

th{
    width: 120px;
}

td{
    font-weight: 600;
    padding-right: 30px;
}


.datos-personales{
    font-weight: 600;
}