<hr>
<div align="end" >
    <button class="mt-2 btn btn-download" (click)='createPDF()' *ngIf="this.paciente && !this.spinner && this.listTurnosRealizadosXpaciente.length > 0">
        <i class="fa-regular fa-file-pdf"></i>
        Descargar Historia
    </button>
</div>
<div id="htmlData">
    <div style="width: 100%;font-weight: bold;" align="center">
        <img src="../../../assets/imagenes/Logo-Dark.png" alt="" width="280px" height="80px">
        <h3 class="fw-bold pt-3">Historia Clínica</h3>        
    </div>
    <hr>

    <h5 class="fw-bold">Datos del Paciente</h5>
    <div class="box-info">
        <div class="row">

            <div class="col-md-3">
                <label for="nombre">Nombre </label>
                <input class="text-capitalize" type="text" name="nombre" disabled [value]="this.paciente?.nombre ? this.paciente?.nombre : ''">
            </div>
            <div class="col-md-4">
                <label for="apellido">Apellido</label>
                <input class="text-capitalize" type="text" name="apellido" disabled
                    [value]="this.paciente?.apellido ? this.paciente?.apellido : ''">
            </div>


            <div class="col-md-2">
                <label for="edad">Edad</label>
                <input type="number" name="apellido" disabled [value]="this.paciente?.edad ? this.paciente?.edad : ''">
            </div>

            <div class="col-md-3">
                <label for="obra_social">Obra social</label>
                <input class="text-uppercase" type="text" name="obra_social" disabled
                    [value]="this.paciente?.obra_social ? this.paciente?.obra_social : ''">
            </div>

            <div class="col-md-4">
                <label for="dni">DNI </label>
                <input type="number" name="dni" disabled [value]="this.paciente?.dni">
            </div>

            <div class="col-md-5">
                <label for="email">Email</label>
                <input type="email" name="email" disabled [value]="this.paciente?.mail ? this.paciente?.mail : ''">
            </div>

        </div>
    </div>

    <hr>

    <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
        <span>Cargando historial clinico...</span>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>


    <div *ngIf="!this.spinner">
        <div *ngIf="this.listTurnosRealizadosXpaciente.length != 0">
            <div *ngFor="let datos of this.listTurnosRealizadosXpaciente">
                <div class="box-turno">
                    <div>
                        <h4>{{datos.especialidad}} </h4>
                        <h6>Fecha del turno: <a>{{datos.fecha[1]}} {{datos.fecha[0]}} a las {{datos.fecha[2]}}</a></h6>
                    </div>

                    <div class="box-info-turno">
                        <p><a class="text-capitalize fw-bold">Altura: </a>{{datos.datosHC.altura}}</p>
                        <p><a class="text-capitalize fw-bold">Peso: </a>{{datos.datosHC.peso}}</p>
                        <p><a class="text-capitalize fw-bold">Temperatura: </a>{{datos.datosHC.temperatura}}</p>
                        <p><a class="text-capitalize fw-bold">Presión: </a>{{datos.datosHC.presion}}</p>

                        <p><a class="text-capitalize fw-bold">Reseña del turno: </a> {{datos.resenea}}</p>
                    </div>

                    <div class="box-observacion">
                        <h5>Observaciones:</h5>
                        <p><a class="text-capitalize fw-bold">{{datos.datosHC.datos_1[0]}}:
                            </a>{{datos.datosHC.datos_1[1]}}</p>
                        <p><a class="text-capitalize fw-bold">{{datos.datosHC.datos_2[0]}}:
                            </a>{{datos.datosHC.datos_2[1]}}</p>
                        <p><a class="text-capitalize fw-bold">{{datos.datosHC.datos_3[0]}}:
                            </a>{{datos.datosHC.datos_3[1]}}</p>
                    </div>

                </div>

                <hr>
            </div>
        </div>

        <div *ngIf="this.listTurnosRealizadosXpaciente.length == 0">
            <h5>No se encontraron datos.</h5>
        </div>
    </div>
</div>