<section class="mb-4">
    <div class="body">
        <div class="header-form" *ngIf="!this.fromAdministracion">
            <div class="btn-volver gap-2" (click)="volver()">
                <i class="fa-solid fa-arrow-left "></i>
                <a>volver</a>
            </div>
        </div>

        <div class="p-4">
            <h3 class="mb-3">Formulario de {{this.tipoForm}}</h3>
            <form class="needs-validation" [formGroup]="formularioRegistro" (ngSubmit)="altaRegistro()">
                <hr class="mb-1">

                <!-- fila 1 -->
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" formControlName='nombre'
                            placeholder="Ingrese su nombre">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('nombre')?.errors?.['required'] && this.formularioRegistro.get('nombre')?.touched">
                            *Nombre requerido
                        </small>
                    </div>

                    <div class="col-md-5 ">
                        <label for="firstName">Apellido</label>
                        <input type="text" class="form-control" formControlName='apellido'
                            placeholder="Ingrese sus apellidos">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('apellido')?.errors?.['required'] && this.formularioRegistro.get('apellido')?.touched">
                            *Apellido requerido
                        </small>
                    </div>

                    <div class="col-md-3">
                        <label for="firstName">Edad</label>
                        <input type="number" class="form-control" formControlName='edad' placeholder="Ingrese su edad">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('edad')?.errors?.['required'] && this.formularioRegistro.get('edad')?.touched">
                            *Edad requerida
                        </small>

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('edad')?.errors?.['min'] || this.formularioRegistro.get('edad')?.errors?.['max']">
                            *La edad tiene que estar entre 18 y 99
                        </small>
                    </div>
                </div>

                <!-- fila 2 -->
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="firstName">DNI</label>
                        <input type="number" class="form-control" formControlName='dni' placeholder="Ingrese su dni">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('dni')?.errors?.['required'] && this.formularioRegistro.get('dni')?.touched">
                            *DNI requerido
                        </small>

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('dni')?.errors?.['min'] || this.formularioRegistro.get('dni')?.errors?.['max']">
                            *DNI Invalido
                        </small>
                    </div>

                    <div class="col-md-6" *ngIf="this.tipoForm == this.formEspecialista">
                        <label for="firstName">Especialidad</label>
                        <a class="btn-add-esp" (click)="generarAddEspecialidad()">
                            (Agregar otra <i class="fa-solid fa-circle-plus"></i> )
                        </a>

                        <input type="text" class="form-control" formControlName='especialidad'
                            placeholder="Ingrese su especialidad">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('especialidad')?.errors?.['required'] && this.formularioRegistro.get('especialidad')?.touched">
                            *Especialidad requerido
                        </small>
                    </div>

                    <div *ngIf="this.htmlEspecialidad.length != 0">
                        <div class="col-md-12" *ngFor="let elemento of this.htmlEspecialidad; let i = index"
                            data-index="i">
                            <label for="firstName">Otra Especialidad</label>

                            <a class="btn-remove-esp" (click)="borrarCampo(i)">
                                (Quitar <i class="fa-solid fa-circle-xmark"></i> )
                            </a>

                            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                placeholder="Ingrese especialidad" [(ngModel)]="this.especialidadtest[i]">
                        </div>
                    </div>

                    <div class="col-md-6" *ngIf="this.tipoForm == this.formPaciente">
                        <label for="firstName">Obra Social</label>
                        <input type="text" class="form-control" formControlName='obra_social'
                            placeholder="Ingrese su obra social">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('obra_social')?.errors?.['required'] && this.formularioRegistro.get('obra_social')?.touched">
                            *Obra social requerido
                        </small>
                    </div>
                </div>

                <!-- fila 3 -->
                <div class="row g-3">
                    <div class="col-md-12">
                        <label for="firstName">Mail</label>
                        <input type="email" class="form-control" formControlName='mail' placeholder="Ingrese su mail">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('mail')?.errors?.['required'] && this.formularioRegistro.get('mail')?.touched">
                            *Mail requerido
                        </small>
                        <small class="invalid" *ngIf="this.formularioRegistro.get('mail')?.errors?.['email']">
                            *Mail Invalido
                        </small>
                    </div>
                </div>

                <!-- fila 4 -->
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="firstName">Password</label>
                        <input type="password" class="form-control" formControlName='password'
                            placeholder="Ingrese su password">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('password')?.errors?.['required'] && this.formularioRegistro.get('password')?.touched">
                            *Password requerido
                        </small>
                    </div>

                    <div class="col-md-6">
                        <label for="firstName">Repetir Password</label>
                        <input type="password" class="form-control" formControlName='repetir_password'
                            placeholder="Repita su password">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('repetir_password')?.errors?.['required'] && this.formularioRegistro.get('repetir_password')?.touched">
                            *Reingreso de Password requerido
                        </small>

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('repetir_password')?.value != this.formularioRegistro.get('password')?.value && this.formularioRegistro.get('repetir_password')?.value !=''">
                            *Reingrese la password
                        </small>

                    </div>
                </div>

                <!-- fila 5 -->
                <div class="row g-3">
                    <div class="col-md-12" *ngIf="this.tipoForm == this.formPaciente">
                        <label for="firstName">Fotos (2 fotos)</label>
                        <input type="file" class="form-control" formControlName='fotosPaciente' multiple
                            (change)="subirFotosPaciente($event)">


                        <small class="invalid" *ngIf="this.formularioRegistro.get('fotosPaciente')?.errors?.['required'] && this.formularioRegistro.get('fotosPaciente')?.touched">
                            *Foto Paciente requerida
                        </small>

                        <span class="invalid" *ngIf="this.errorFotoPaciente">
                            *Seleccione 2 Fotos a Subir ("Con la tecla Ctrl + click seleccionar las fotos")
                        </span>

                    </div>

                    <div class="col-md-12" *ngIf="this.tipoForm == this.formEspecialista">
                        <label for="firstName">Foto (1 foto) </label>
                        <input type="file" class="form-control" formControlName='fotoEspecialista'
                            (change)="subirFotoEspecialista($event)">

                        <small class="invalid" *ngIf="this.formularioRegistro.get('fotoEspecialista')?.errors?.['required'] && this.formularioRegistro.get('fotoEspecialista')?.touched">
                            *Foto Especialista requerida
                        </small>
                    </div>
                </div>

                <div class="container py-3">
                    <div class="row box-captcha" align="center">
                        <div class="col-12">
                            <div class="row justify-content-end">
                                <div class="col-8">
                                    <div class="captcha">
                                        {{this.captcha}}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <i class="fa-solid fa-arrow-rotate-right refresh-captcha"
                                        (click)="generarCaptcha()"></i>
                                </div>
                            </div>

                            <input type="text" class="form-control" formControlName='captcha'
                                placeholder="Ingrese las letras de arriba">
                            <small class="invalid"
                                *ngIf="this.formularioRegistro.get('captcha')?.errors?.['required'] && this.formularioRegistro.get('captcha')?.touched">
                                *Captcha requerido
                            </small>

                            <small class="invalid"
                                *ngIf="this.formularioRegistro.get('captcha')?.value != this.captcha && this.formularioRegistro.get('captcha')?.value != ''">
                                *Captcha Invalido
                            </small>
                        </div>
                    </div>
                </div>

                <hr class="mb-4">

                <div class="d-flex justify-content-center" style="color: #008B81;margin-bottom: 10px;"
                    *ngIf="this.spinner">
                    <div class="spinner-border" role="status">
                    </div>
                </div>

                <button class="w-100 boton" type="submit" [disabled]="formularioRegistro.invalid">Registrarse</button>
            </form>
        </div>
    </div>
</section>