label,
small {
    font-weight: 600;
}

small{
    color: var(--color-tertiary);
}

input {
    background-color: #e6e6e6;
}

hr {
    border: 3px solid var(--color-primary);
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-primary);
}

section{       
    display: flex;
    justify-content: center;    
}

.body {
    width: 70vw;    
    background-color: #fffffff1;
    border-radius: 0.3rem;
    box-shadow: 5px 5px 25px black;    
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-form {
    background-color: #008b82bb;
    padding: 2% 5%;
    font-weight: 600;
    font-size: x-large;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.header-form > .btn-volver {
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    max-width: 10rem;    
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header-form > .btn-volver:hover {
    transform: scale(1.05);
    background-color: #153982da;
    cursor: pointer;
}

.header-form > .btn-volver:active {
    transform: scale(0.95);
}

.header-form > .btn-volver:focus {
    outline: none;
}

.boton {
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    border-radius: 0.3rem;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton:enabled:hover {
    background-color: var(--color-secondary);
}

.boton:enabled:active {
    transform: scale(0.95);
}

.boton:focus {
    outline: none;
}

.boton:disabled {
    opacity: 0.85;
}

.captcha {
    color: black;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 5px;
    padding: 0.2em 0;
    user-select: none;
}

.box-captcha {
    background-color: #c3c3c3;
    border-radius: 0.3rem;
    padding: 0.5em;
}

.refresh-captcha {
    color: var(--color-secondary);
    font-weight: bold;
    cursor: pointer;
}

.refresh-captcha:hover {
    color: var(--color-primary);
}

.refresh-captcha:active {
    transform: scale(0.8);
}

.row{
    padding: 0.3rem 0rem;
}

.btn-volver{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-add-esp{
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: small;
}

.btn-add-esp:hover, .btn-remove-esp:hover{
    color: var(--color-secondary);
}

.btn-remove-esp{
    color: var(--color-tertiary);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: small;
}
