.header-form{
    background-color: #008B81;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-weight: 600;
    font-size: 20px;

    width: 100%;
}

.test{
    padding: 1.5rem !important;    
     /*a chico formulario*/
}

.header-form > .btn-volver{
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;

    border-radius: 16px;

    background-color: #153A82;
    width: 180px;
    color: white;
    cursor: pointer;
}

.header-form > .btn-volver:hover{  
    transform: scale(1.05);
    background-color: black;    
}

.header-form > .btn-volver:active{  
    transform: scale(0.90);  
}
