.header-form{
    background-color: #008B81;    
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-weight: 600;
    font-size: 20px;

    width: 100%;
}

.test{
    padding: 1.5rem !important;    
}


.header-form {
    background-color: #008b82bb;
    padding: 2% 5%;
    font-weight: 600;
    font-size: x-large;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.header-form > .btn-volver {
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    max-width: 10rem;    
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header-form > .btn-volver:hover {
    transform: scale(1.05);
    background-color: #153982da;
    cursor: pointer;
}

.header-form > .btn-volver:active {
    transform: scale(0.95);
}

.header-form > .btn-volver:focus {
    outline: none;
}

.btn-volver{
    display: flex;
    justify-content: center;
    align-items: center;
}