<div class="menu">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div style="text-align: start;width: 240px;" >
                <a routerLink="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="margin-right: 2em;cursor: pointer;">      
                    <!-- <img src="../../../favicon.ico" height="65px"> -->                    
                    <img [src]="this.logo" height="65px" width="240px">
                </a>
            </div>
        
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a class="nav-link px-2 text-white item-menu" routerLink="/bienvenido">Home</a>
                </li>       
                
                <li>
                    <a class="nav-link px-2 text-white item-menu" routerLink="/login">Login</a>
                </li>  

                <li>
                    <a class="nav-link px-2 text-white item-menu" routerLink="/registro">Registro</a>
                </li>                
            </ul>     
        </nav> 
</div>
