<header id="header" class="w-100 c-header py-4">
    <div class="container d-flex justify-content-between align-items-center py-1">
        <div>
            <a routerLink="/home" class="a-logo d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">                       
                <img [src]="this.logo" class="img-fluid" height="65px" width="240px" alt="Logo">
            </a>
        </div>
        <div class="d-lg-none">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end align-items-center" id="navbarNav">
            <nav class="d-flex justify-content-end align-items-center">
                <ul class="nav gap-3">                           
                    <li>
                        <a class="nav-link px-2 item-menu fw-bold" routerLink="/login">Login</a>
                    </li>  
                    <li>
                        <a class="nav-link px-2 item-menu fw-bold" routerLink="/registro">Registro</a>
                    </li>                
                </ul> 
            </nav>
        </div>
    </div>
</header>

