*{
	color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.c-header{    
    padding: 0rem 12rem;
    position: absolute;
    z-index: 2;    
    width: 100%;
    background:linear-gradient(to top, #07285c72 , #07285c4d, #07285c4d, #07285c72);
    transition: 0.3s all ease;
}


.item-menu{
	cursor: pointer;	
}

.item-menu:hover{	
	transform: scale(1.1);
	transition: 0.3s all ease;
	color: #008B81 !important;
}

ul{

}