/* body{
    min-height: 100vh !important;
    max-height: 100vh !important;
    height: 100%;
    width: 100%;
} */

main{
    min-height: 100vh !important;
    max-height: auto !important;
    height: 100%;
    width: 100%;

    height: -webkit-fill-available;
}

.dropdown {
    cursor: pointer;
} 

.dropdown-item{
    width: 240px;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #008B81;
}

.menu-panel{
    width: 20%;
    display: block;
}

.container{
    width: 80%;  
   
}

.menu-item{
    cursor: pointer;
}

.menu-item:hover{
    background-color: #008B81;
}

.habilitado{
    background-color: #008B81;
}

span{
    font-weight: 600;
}

a{
    font-weight: 600;
}
