<body cz-shortcut-listen="true">
    <main class="d-flex flex-nowrap" style="width: 100% !important;">
        <div class="menu-panel d-flex flex-column flex-shrink-0 p-1 text-bg-dark" style="width: 280px;">

            <!-- Logo dashboard -->
            <div class="box-logo pt-3 px-2">
                <img src="../../../assets/imagenes/Logo.png" height="100%" width="80%" (click)="redirectToHome()">                
            </div>

            <hr>

            <!-- Menu dashboard -->
            <ul class="nav nav-pills flex-column mb-auto">

                <li>
                    <a class="nav-link text-white menu-item" aria-current="page" (click)="onMiHome()"
                    [ngClass]="{habilitado: this.miHomeActivate}">
                        <i class="fa-solid fa-house fs-5"></i>
                        <a style="padding-left: 10px;">
                            Mi home
                        </a>
                    </a>
                </li>
                <li *ngIf="this.AuthService.user.tipoUsuario == 'ADM'">
                    <a routerLink="/menu-administrador" class="nav-link text-white menu-item"
                        [ngClass]="{habilitado: this.seccionUsuariosActivate}" (click)="onSeccionUsuarios()">
                        <i class="fa-regular fa-address-book fs-5"></i>
                        <a style="padding-left: 10px;">
                            Seccion usuarios <span class="text-danger fw-bold" style="font-size: 0.7rem;">ADM</span>
                        </a>
                    </a>
                </li>

                <li *ngIf="this.AuthService.user.tipoUsuario == 'ESP'">
                    <a routerLink="/menu-administrador" class="nav-link text-white menu-item"
                        [ngClass]="{habilitado: this.historiaClinicaEspActivate}" (click)="onSeccionPacientes()">
                        <i class="fa-regular fa-address-book fs-5"></i>
                        <a style="padding-left: 10px;">
                            Seccion Pacientes
                        </a>
                    </a>
                </li>

                <li *ngIf="this.AuthService.user.tipoUsuario != 'ADM'">
                    <a class="nav-link text-white menu-item" [ngClass]="{habilitado: this.misTurnosActivate}"
                        (click)="onMisTurnos()">
                        <i class="fa-solid fa-clipboard-list fs-5"></i>
                        <a style="padding-left: 10px;">
                            Mis turnos
                        </a>
                    </a>
                </li>
                <li *ngIf="this.AuthService.user.tipoUsuario == 'ADM'">
                    <a class="nav-link text-white menu-item" [ngClass]="{habilitado: this.turnosActivate}"
                        (click)="onTurnos()">
                        <i class="fa-solid fa-stethoscope fs-5"></i>
                        <a style="padding-left: 10px;">
                            Turnos
                        </a>
                    </a>
                </li>
                <li *ngIf="this.AuthService.user.tipoUsuario != 'ESP'">
                    <a class="nav-link text-white menu-item" [ngClass]="{habilitado: this.solicitarTurnoActivate}"
                        (click)="onSolicitarTurno()">
                        <i class="fa-solid fa-heart-pulse fs-5"></i>
                        <a style="padding-left: 10px;">
                            Solicitar turno
                        </a>
                    </a>
                </li>

                <li *ngIf="this.AuthService.user.tipoUsuario == 'ADM'">
                    <a class="nav-link text-white menu-item" [ngClass]="{habilitado: this.chartsActivate}"
                        (click)="onGraficosEstadisticas()">
                        <i class="fa-solid fa-chart-line fs-5"></i>
                        <a style="padding-left: 10px;">
                            Graficos y Estadisticas
                        </a>
                    </a>
                </li>
            </ul>

            <hr>

            <!-- Footer dashboard -->
            <div class="dropdown-up box-f-menu px-3" >
                <a routerLink="/menu-administrador"
                    class="d-flex align-items-center  justify-content-start text-white text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img [src]="this.AuthService.user.foto" alt="" width="35" height="35" class="rounded-circle me-2">
                    <span class="text-capitalize">{{this.AuthService.user.apellido +" "+this.AuthService.user.nombre}}</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li>
                        <a class="dropdown-item" (click)="onPerfil()" [ngClass]="{habilitado: this.miPerfilActivate}">
                            <i class="fa-regular fa-address-card fs-5"></i>
                            <a style="padding-left: 10px;">
                                Mi Perfil
                            </a>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" (click)="onHistoriaClinica()"
                            *ngIf="this.AuthService.user.tipoUsuario == 'PAC'">
                            <i class="fa-solid fa-file-waveform fs-5"></i>
                            <a style="padding-left: 10px;">
                                Historia Clinica                                
                            </a>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" (click)="onMisHorarios()"
                            *ngIf="this.AuthService.user.tipoUsuario == 'ESP'">
                            <i class="fa-solid fa-calendar-days fs-5"></i>
                            <a style="padding-left: 10px;">                                
                                Mis Horarios
                            </a>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item" (click)="onLogout()">
                            <i class="fa-regular fa-circle-left fs-5"></i>
                            <a style="padding-left: 10px;">                                
                                Desloguear
                            </a>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
       
        <!-- Components View -->
        <div class="container scale-up-center" *ngIf="this.miHomeActivate">
            <app-pagina-error></app-pagina-error>
        </div>
       
        <div class="container  scale-up-center" *ngIf="this.AuthService.user.tipoUsuario == 'ADM'
        && this.seccionUsuariosActivate
        ">
            <app-seccion-usuarios></app-seccion-usuarios>
        </div>

        <div class="container  scale-up-center" *ngIf="this.historiaClinicaEspActivate">
            <app-historia-clinica></app-historia-clinica>
        </div>
       
        <div class="container scale-up-center" *ngIf="this.misTurnosActivate">
            <app-mis-turnos></app-mis-turnos>
        </div>

       
        <div class="container scale-up-center" *ngIf="this.turnosActivate">
            <app-turnos></app-turnos>
        </div>

       
        <div class="container scale-up-center" *ngIf="this.solicitarTurnoActivate">
            <app-solicitar-turno></app-solicitar-turno>
        </div>
       
        <div class="container scale-up-center" *ngIf="this.chartsActivate">
            <app-charts-administrador></app-charts-administrador>
        </div>
       
        <div class="container scale-up-center" *ngIf="this.miPerfilActivate">
            <app-mi-perfil></app-mi-perfil>
        </div>
       
        <div class="container scale-up-center" *ngIf="this.historiaClinica">
            <div class="body-historia-clinica">
                <app-detalle-historia-clinica></app-detalle-historia-clinica>
            </div>
        </div>

       
        <div class="container scale-up-center"
            *ngIf="this.misHorariosActivate && this.AuthService.user.tipoUsuario == 'ESP'">
            <app-mis-horarios></app-mis-horarios>
        </div>
       
        <div class="container scale-up-center" *ngIf="this.pagError404">
            <app-pagina-error></app-pagina-error>
        </div>
    </main>
</body>