<app-menu></app-menu>

<div class="body">
    <div class="container">
        <div align="end" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">          
            <main class="px-3">
              <p class="titulo">Tú Clínica Online</p>
              <p class="lead">¡Bienvenido a la Clínica <a class="fs-6 text-dark fw-bold" style="text-decoration: none;">J.B.R</a> !</p>
              <p class="info">Para sacar un turno debe iniciar sesion con su cuenta, si no es socio registrese facil y gratis.</p>
              <p>
                <a routerLink="/login" class="btn btn-lg btn-secondary fw-bold bg-dark">Login</a>
                <a routerLink="/registro" class="btn btn-lg btn-secondary fw-bold bg-dark">Registro</a>
              </p>
            </main>                    
          </div>
    </div>
</div>

<app-footer></app-footer>