
<div class="body">
    <div class="container">
        <div align="center" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <main class="px-3">
                <p class="titulo">404</p>
                <p class="lead">Esta página se encuentra en proceso...</p>

                <div id="wrapper">
 
                <div class="gears" id="two-gears">
    
                    <div class="gears-container">
                      <div class="gear-rotate"></div>
                      <div class="gear-rotate-left"></div>
                    </div>
                  </div>
                  </div>
            </main>
        </div>
    </div>
</div>