.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input, label{
    font-size: small;
}

label{
    font-weight: 600;
}

hr {
    border: 3px solid var(--color-primary);
}

