<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 p-4">
                        <div>
                            <h3 class="fw-bold">Formulario de turnos</h3>

                            <h6><i class="fa-regular fa-calendar-days"></i> Lunes - Viernes de 8 a 19hs | Sabados de
                                8:00 a 14:00</h6>
                            <h6 class="text-danger"><i class="fa-solid fa-circle-info"></i> La duración de un turno es
                                de 30 min</h6>

                            <hr>
                            <form>
                                <!-- List Pacientes -->
                                <div class="row px-3" *ngIf="this.AuthService.user.tipoUsuario == 'ADM'">
                                    <h5 class="py-2">Seleccione la Paciente:</h5>
                                    <span *ngIf="!this.pacienteSelect&& this.errorFormularioTurno" class="invalid"
                                        align="end">
                                        *Seleccione un Paciente
                                    </span>

                                    <div class="row row-cols-8" *ngIf="this.listadoPacientes.length != 0">
                                        <div *ngIf="this.spinner" class="box-spinner d-flex align-items-center ">
                                            Cargando lista...
                                            <div class="spinner spinner-border ms-auto" role="status"
                                                aria-hidden="true">
                                            </div>
                                        </div>

                                        <table class="table table-striped table-bordered border-dark table-hover"
                                            *ngIf="!this.spinner">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Apellido</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">DNI</th>
                                                    <th scope="col">Edad</th>
                                                    <th scope="col">Obra Social</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor='let paciente of this.listadoPacientes' [ngClass]="{'select-pac': this.pacienteSelect && 
                                                                paciente.id == this.pacienteSeleccionado.id}"
                                                    (click)='selectPaciente(paciente)'>
                                                    <td>{{paciente?.mail}}</td>
                                                    <td class="text-capitalize">{{paciente?.apellido}}</td>
                                                    <td class="text-capitalize">{{paciente?.nombre}}</td>
                                                    <td>{{paciente?.dni}}</td>
                                                    <td>{{paciente?.edad}}</td>
                                                    <td class="text-uppercase">{{paciente?.obra_social}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <hr>

                                <!-- List Especialidades -->
                                <div class="row px-3">
                                        <h5 class="py-2">Seleccione Especialidad:</h5>
                                        <span align="end" class="invalid"
                                            *ngIf="!this.especialidadSelect && this.errorFormularioTurno">
                                            *Seleccione una Especialidad
                                        </span>

                                        <div *ngIf="this.listadoEspecialidad.length == 0"
                                            class="box-spinner d-flex align-items-center">
                                            Cargando lista...
                                            <div class="spinner spinner-border ms-auto" role="status"
                                                aria-hidden="true">
                                            </div>
                                        </div>

                                        <!-- <i class="fa-solid fa-user-doctor fs-5"></i>
                                        <i class="fa-solid fa-stethoscope fs-5"></i>
                                        <i class="fa-solid fa-lungs fs-5"></i>
                                        <i class="fa-solid fa-lungs-virus fs-5"></i> -->
                                        <div class="row row-cols-6 gap-1" *ngIf="this.listadoEspecialidad.length != 0">
                                            <div class="col btn-especialidad" (click)="selectEspecialidad(especialidad)"
                                                *ngFor="let especialidad of this.listadoEspecialidad"
                                                [ngClass]="{select: this.especialidadSelect && this.nombreEspecialidadSelect == especialidad}">
                                                <div align="center">
                                                    <button class="btn" *ngIf="especialidad == 'Cardiología'"
                                                        align="center">
                                                        <i class="fa-solid fa-heart-circle-bolt fs-1"></i>
                                                    </button>
                                                    <div class="btn" *ngIf="especialidad == 'Pediatria'" align="center">
                                                        <i class="fa-solid fa-person-breastfeeding fs-1"></i>
                                                    </div>
                                                    <div class="btn" *ngIf="especialidad == 'Neumología'"
                                                        align="center">
                                                        <i class="fa-solid fa-lungs-virus fs-1"></i>
                                                    </div>
                                                    <div class="btn"
                                                        *ngIf="especialidad != 'Cardiología' && especialidad != 'Pediatria' && especialidad != 'Neumología'"
                                                        align="center">
                                                        <i class="fa-solid fa-user-doctor fs-1"></i>
                                                    </div>
                                                </div>
                                                <div class="especialidad-name" align="center">
                                                    <h6>{{especialidad}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <hr>

                                <!-- List Especialistas -->
                                <div class="row px-3">
                                        <h5 class="py-2">Seleccione Especialista:</h5>
                                        <span class="invalid"
                                            *ngIf="!this.especialistaSelect && this.errorFormularioTurno">
                                            *Seleccione un Especialista
                                        </span>

                                        <div class="row row-cols-6 gap-1" *ngIf="this.listadoEspecialistas.length != 0">
                                            <div class="col py-1" align="center"
                                                *ngFor='let especialista of (this.listadoEspecialistas | filterEspecialistaEspecialidad: this.filtroXEspecialidad)'
                                                (click)="selectEspecialista(especialista)"
                                                [ngClass]="{select: this.especialistaSelect && especialista.id == this.idEspecialista}">

                                                
                                                    <button class="btn especialistas-img">
                                                        <img class="img-esp" [src]="especialista.foto" height="100%"
                                                            width="100%">
                                                    </button>
                                                
                                                <div class="especialista-name text-capitalize" align="center">
                                                   <h6> {{especialista.apellido + " " + especialista.nombre}}</h6>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <hr>

                                <!-- List Fechas Disponibles -->
                                <div class="row px-3">
                                    <h5 class="py-2">Seleccione Fecha Disponible:</h5>
                                    <span class="invalid"
                                        *ngIf="!this.fechaSelect && this.errorFormularioTurno">
                                        *Seleccione una Fecha
                                    </span>                                     

                                        <div class="row row-cols-6 justify-content-center gap-2"
                                            *ngIf="this.especialidadSelect && this.especialistaSelect">
                                            <div class="col fechas text-center"
                                                *ngFor='let fecha of this.fechasDisponibles'
                                                (click)="buscoHorasXFecha(fecha)"
                                                [ngClass]="{select: fecha == this.fechasola && this.fechaSolaSelect}">

                                                <div class="row justify-content-center">{{fecha[0]}}</div>
                                            </div>
                                        </div>
                                </div>

                                <hr>

                                <!-- List Horas Disponibles -->
                                <div class="row px-3">
                                    <h5 class="py-2">Seleccione Hora Disponibles:</h5>

                                        <div class="row row-cols-6 justify-content-center gap-1"
                                            *ngIf="this.horasDisponiblesXdia.length != 0">
                                            <div class="col horas text-center"
                                                *ngFor='let hora of this.horasDisponiblesXdia'
                                                (click)="selectFecha(hora)"
                                                [ngClass]="{select: hora == this.horaSola && this.horaSolaSelect}">
                                                {{hora}}                                                
                                                <div *ngIf="(hora.split(':',1)) < 12">
                                                    am
                                                </div>
                                                <div *ngIf="(hora.split(':',1)) >= 12">
                                                    pm
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <hr>
                                <div class="row px-3">
                                    <button class="w-100 boton" type="submit"
                                        [disabled]="!(this.especialistaSelect && this.especialidadSelect && this.fechaSolaSelect && this.horaSolaSelect)"
                                        (click)="generarTurno()">Generar
                                        Turno</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>