body {
    background-color: transparent !important;
}

thead tr th {
    font-weight: 500;
    cursor: default;
    font-size: small;
}

hr {
    border: 1px solid #008B81;
}

tbody tr td {
    font-size: small;
}

h5{
    margin: 0;
    padding: 0;
}

h5::before{
    content: "*";
    color: var(--bs-danger)
}

p {
    font-weight: bold;
}

tr:hover {
    cursor: pointer;
    background-color: #15398294;
}

tr:hover td {
    color: white !important;
}

/* Clases */
.text-class {
    font-weight: bold;
}

.card {
    background-color: #ffffffd3;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px #000000d7;
}

.fechas {
    background-color: var(--color-fivety);
    font-size: medium;
    cursor: pointer;
    border: 1px solid #000000bd;
    border-radius: 0.3rem;
    font-weight: 500;
    /* margin: 0.5rem 1rem; */
}

.horas{
    background-color: var(--color-fivety);
    font-size: small;
    cursor: pointer;
    border: 1px solid #000000bd;
    border-radius: 0.3rem;
    font-weight: 500;
}

.fechas:hover , .horas:hover{
    background-color: #15398294;
    color: white;
}

.especialistas-celda {
    background-color: #008B81;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    height: 40px !important;
    width: auto !important;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    margin: 1em;
    padding-bottom: 30px;
    cursor: pointer;
}

.especialidad-circulo {
    background-color: #008B81;
    height: 200px;
    width: auto;
    border-radius: 100%;
}

.container {
    padding-top: 25px;
}

.select-pac {
    background-color: #153982d2;
    color: white !important;
}

.select-pac td {
    color: white;
    border-bottom: 1px solid var(--color-fivety);
    border-top: 1px solid var(--color-fivety);
}


/* ? Especialidad Select */
.select, .btn-especialidad:hover {
    background-color: #15398294 !important;
    border-radius: 0.3rem;
    color: white;
}


.btn-especialidad{
    background-color: #008b82bd;
    border-radius: 0.3rem;
    cursor: pointer;    
}


.btn-especialidad:hover div, .select div{
    color: white !important;
}


.especialidad-name h6{
    font-size: small;
    font-weight: bold;    
}

/* ? END  Especialidad Select */

/* Imagen de Perfil del Especialista */
.especialistas-img {
    height: 6rem;
    width: 6rem ;
    border-radius: 100% !important;
    overflow: hidden;
}

.img-esp {
    transform: scale(1.7);
}

.boton {
    background-color: #15398294;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    height: 40px;
    border: none;
    text-transform: uppercase;
}

.invalid {
    color: rgb(186, 19, 19);
}

.spinner {
    height: 24px;
    width: 24px;
}

.box-spinner {
    color: var(--color-fourty);
    font-weight: 500;
}

.btn-table {
    color: white;
    background-color: var(--color-fourty);
    font-size: small;
    font-weight: 500;
    cursor: pointer;
}


.especialistas-celda:hover {
    background-color: #5d90f7;
}

.boton:enabled:hover {
    cursor: pointer;
    background-color: var(--color-fivety);
    color: white;
    font-weight: 600;
}

.boton:enabled{
    opacity: 100%;
}

.boton:disabled {
    opacity: 85%;
}

.btn-table:hover {
    background-color: var(--color-fivety);
}