<section>
    <h2 style="padding-left: 15px;">Solicitar Turno</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h3>Formulario de Turno</h3>
                        <!-- <p>Lunes a Viernes de 8:00 a 19:00 y Sabados de 8:00 a 14:00</p> -->
                        <!-- <p>Duracion de un turno 30 min</p> -->
                        <form>


                            <div class="row" *ngIf="this.AuthService.user.tipoUsuario == 'ADM'">
                                <hr>
                                <div class="container">
                                    <p>
                                        Seleccione la Paciente:
                                        <span align="end" class="invalid"
                                            *ngIf="!this.pacienteSelect&& this.errorFormularioTurno">
                                            *Seleccione un Paciente
                                        </span>
                                    </p>

                                    <div class="row row-cols-8" *ngIf="this.listadoPacientes.length != 0">
                                        <div class="d-flex align-items-center" *ngIf="this.spinner"
                                            style="color: #153A82;">
                                            <strong>Cargando lista...</strong>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </div>

                                        <table class="table table-striped  table-hover" *ngIf="!this.spinner">
                                            <thead class="thead-dark" align="center">
                                                <tr>
                                                    <th scope="col">Mail</th>
                                                    <th scope="col">Apellido</th>
                                                    <th scope="col">Nombre</th>
                                                    <th scope="col">DNI</th>
                                                    <th scope="col">Edad</th>
                                                    <th scope="col">Obra Social</th>
                                                    <th scope="col"> </th>
                                                </tr>
                                            </thead>
                                            <tbody align="center">
                                                <tr *ngFor='let paciente of this.listadoPacientes' [ngClass]="{'select-pac': this.pacienteSelect && 
                                                            paciente.id == this.pacienteSeleccionado.id}">
                                                    <td>{{paciente?.mail}}</td>
                                                    <td>{{paciente?.apellido}}</td>
                                                    <td>{{paciente?.nombre}}</td>
                                                    <td>{{paciente?.dni}}</td>
                                                    <td>{{paciente?.edad}}</td>
                                                    <td>{{paciente?.obra_social}}</td>
                                                    <td>
                                                        <button class="mt-2 btn btn-outline-dark"
                                                            (click)='selectPaciente(paciente)'>seleccionar</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="container">
                                    <p>
                                        Seleccione la Especialidad:
                                        <span align="end" class="invalid"
                                            *ngIf="!this.especialidadSelect && this.errorFormularioTurno">
                                            *Seleccione una Especialidad
                                        </span>
                                    </p>

                                    <div class="text-center" *ngIf="this.listadoEspecialidad.length == 0">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>

                                    <div class="row row-cols-5 " *ngIf="this.listadoEspecialidad.length != 0">
                                        <div class="col" (click)="selectEspecialidad(especialidad)"
                                            *ngFor="let especialidad of this.listadoEspecialidad"
                                            [ngClass]="{select: this.especialidadSelect && this.nombreEspecialidadSelect == especialidad}">
                                            <div align="center">
                                                <button class="btn especialidad-Cardiologia"
                                                    *ngIf="especialidad == 'Cardiología'" align="center">
                                                    <img [src]="this.imgCardiologia" height="120px" width="auto">
                                                </button>
                                                <div class="btn especialidad-Pediatria"
                                                    *ngIf="especialidad == 'Pediatria'" align="center">
                                                    <img [src]="this.imgPediatria" height="120px" width="auto">
                                                </div>
                                                <div class="btn especialidad-Neumologia"
                                                    *ngIf="especialidad == 'Neumología'" align="center">
                                                    <img [src]="this.imgNeumologia" height="120px" width="auto">
                                                </div>
                                                <div class="btn especialidad-Default"
                                                    *ngIf="especialidad != 'Cardiología' && especialidad != 'Pediatria' && especialidad != 'Neumología'"
                                                    align="center">
                                                    <img [src]="this.imgDefault" height="120px" width="auto">
                                                </div>
                                            </div>
                                            <div class="especialidad-name" align="center" style="font-weight: bold;">
                                                {{especialidad}}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <hr>
                            <div class="row">
                                <div class="container">
                                    <p>
                                        Seleccione al Especialista:
                                        <span class="invalid"
                                            *ngIf="!this.especialistaSelect && this.errorFormularioTurno">
                                            *Seleccione un Especialista
                                        </span>
                                    </p>


                                    <div class="text-center" *ngIf="this.listadoEspecialistas.length == 0">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>

                                    <div class="row row-cols-5" *ngIf="this.listadoEspecialistas.length != 0">
                                        <div class="col"
                                            *ngFor='let especialista of (this.listadoEspecialistas | filterEspecialistaEspecialidad: this.filtroXEspecialidad)'
                                            (click)="selectEspecialista(especialista)"
                                            [ngClass]="{select: this.especialistaSelect && especialista.id == this.idEspecialista}">

                                            <div align="center">
                                                <button class="btn especialistas-img">
                                                    <img class="img-esp" [src]="especialista.foto" height="100px"
                                                        width="100px">
                                                </button>
                                            </div>
                                            <div class="especialista-name" align="center"
                                                style="font-weight: bold;text-transform: uppercase;">
                                                {{especialista.apellido + " " + especialista.nombre}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="container">
                                    <p>
                                        Fechas Disponibles:
                                        <span class="invalid" *ngIf="!this.fechaSelect && this.errorFormularioTurno">
                                            *Seleccione una Fecha
                                        </span>
                                    </p>

                                    <div class="text-center" *ngIf="this.spinnerFechas">
                                        <p>Buscando fechas disponibles...</p>
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>

                                    <!-- <div class="row row-cols-5 "
                                        *ngIf="this.especialidadSelect && this.especialistaSelect">
                                        <div class="col fechas" *ngFor='let fecha of this.fechas'
                                            (click)="selectFecha(fecha)"
                                            [ngClass]="{select: this.fechaSelect && this.fechaSeleccionada == fecha}">

                                            {{fecha[1] +" "+ fecha[0] +" "+ fecha[2]}}
                                        </div>
                                    </div> -->
                                    <div class="row row-cols-5 justify-content-center"
                                        *ngIf="this.especialidadSelect && this.especialistaSelect">
                                        <div class="col fechas text-center" *ngFor='let fecha of this.fechasDisponibles'                                           
                                            (click)="buscoHorasXFecha(fecha)"
                                            [ngClass]="{select: fecha == this.fechasola && this.fechaSolaSelect}">

                                            
                                            <div class="row justify-content-center">{{fecha[0]}}</div>
                                            <!-- <div class="row justify-content-center">{{fecha[1]}}</div> -->
                                         
                                            <!-- {{fecha[1] +" "+ fecha[0]}} -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            
                            <div class="row">
                                <div class="container">
                                    <p>
                                        Hora Disponibles:        
                                    </p>
                                    <div class="row row-cols-5 justify-content-center"
                                        *ngIf="this.horasDisponiblesXdia.length != 0">
                                        <div class="col fechas text-center" *ngFor='let hora of this.horasDisponiblesXdia'
                                             (click)="selectFecha(hora)"
                                             [ngClass]="{select: hora == this.horaSola && this.horaSolaSelect}">
                                            {{hora}}

                                            <!-- <div *ngIf="(((hora.split('a',1)).trim()).split(':',1)) ">

                                            </div> -->    
                                            <div *ngIf="(hora.split(':',1)) < 12">
                                                am
                                            </div> 
                                            <div *ngIf="(hora.split(':',1)) >= 12">
                                                pm
                                            </div>                                       
                                            <!-- {{(hora.split(':',1))}} -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <button class="w-100 boton" type="submit"
                                    [disabled]="!(this.especialistaSelect && this.especialidadSelect && this.fechaSolaSelect && this.horaSolaSelect)"
                                    (click)="generarTurno()">Generar
                                    Turno</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>