app-menu {
    position: fixed;
    top: 0;
    width: 100%;
}


.body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: url("../../../assets/imagenes/background/background-home.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.row {
    padding-top: 5rem;
}


.title-esp {
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
}

.title-pac {
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
}


.paciente {
    border-radius: 0.3rem;
    height: 24rem;
    width: 30rem;
    transform: scale(1);
    color: black;
    text-shadow: white 1px 0 5px;
    background: linear-gradient(to top, #00000096, #00000010, #00000005, #00000010, #00000096), url("../../../assets/imagenes/img/img-7.webp") 40% / cover no-repeat;
    box-shadow: 4px 4px 30px #000000ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.paciente:hover {
    cursor: pointer;
    background: linear-gradient(to top, #153982b0, #15398293, #15398270, #15398293, #153982b0), url("../../../assets/imagenes/img/img-7.webp") 40% / cover no-repeat;
    transform: scale(1.1);
}

.paciente:active {
    transform: scale(0.95);
}

.paciente:focus {
    outline: none;
}



.especialista {
    border-radius: 0.3rem;
    height: 24rem;
    width: 30rem;
    transform: scale(1);
    color: black;
    text-shadow: white 1px 0 5px;
    background: linear-gradient(to top, #00000096, #00000010, #00000005, #00000010, #00000096), url("../../../assets/imagenes/img/img-6.webp") 40% / cover no-repeat;
    box-shadow: 4px 4px 30px #000000ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
    margin-right: 100px;
}

.especialista:hover {
    cursor: pointer;
    background: linear-gradient(to top, #153982b0, #15398293, #15398270, #15398293, #153982b0), url("../../../assets/imagenes/img/img-6.webp") 40% / cover no-repeat;
    transform: scale(1.1);
}

.especialista:active {
    transform: scale(0.95);
}

.especialista:focus {
    outline: none;
}

.form-registro {
    padding-top: 8rem;
}

@media (max-width: 768px) {
    .especialista {
        height: 50vh;
        width: 38vw;
        max-width: none;
    }

    .paciente {
        height: 50vh;
        width: 38vw;
        max-width: none;
    }
}