th{
    width: 120px;
}

td{
    font-weight: 600;
    padding-right: 30px;
    font-size: 14px;
}

.btn{
    font-weight: 600;
    color: white !important;
    background-color: #153A82 !important;
}

.btn:hover{    
    background-color: #008B81 !important;
}

.deshabilitado{
    width: 100%;
    color: white !important;
    align-items: center;
    /* width: 100%; */
    background-color: rgb(243, 32, 32);
}

.deshabilitado:hover{
    background-color: rgb(9, 181, 9);
}

.habilitado{
    width: 100%;
    color: white !important;
    align-items: center;
    /* width: 100%;     */
    background-color: rgb(9, 181, 9);
}

.habilitado:hover{    
    background-color: rgb(243, 32, 32);
}

.container{
    background-color:  #e2e2e2;
	border-radius: 10px;
	box-shadow:
        0.6px 0.7px 0.2px -5px rgba(0, 0, 0, 0.017),
        1.4px 1.6px 0.4px -5px rgba(0, 0, 0, 0.025),
        2.4px 2.8px 0.6px -5px rgba(0, 0, 0, 0.031),
        3.6px 4.2px 1px -5px rgba(0, 0, 0, 0.035),
        5.1px 6px 1.4px -5px rgba(0, 0, 0, 0.04),
        7.3px 8.5px 1.9px -5px rgba(0, 0, 0, 0.045),
        10.3px 12.1px 2.8px -5px rgba(0, 0, 0, 0.049),
        15px 17.5px 4px -5px rgba(0, 0, 0, 0.055),
        23.1px 27px 6.2px -5px rgba(0, 0, 0, 0.063),
        41px 48px 11px -5px rgba(0, 0, 0, 0.08)
    ;
}

.img-usuario{
    height: 125px;
    width: 125px;
    border-radius: 100%;
}

.select-usuario{    
    cursor: pointer;
}

.select-usuario:hover{
    transform: scale(1.05);
}