<div class="body">
    <div class="container">
        <div class="col-md-12 col-lg-12 p-4">
            <h1 class="mb-3">Formulario de administradores</h1>
            <form class="needs-validation" [formGroup]="formularioRegistro" (ngSubmit)="altaRegistro()">
                <div class="row g-3">
                    <hr class="mb-4">


                    <div class="col-md-4">
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" formControlName='nombre'
                            placeholder="Ingrese su nombre">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('nombre')?.errors?.['required'] && this.formularioRegistro.get('nombre')?.touched">
                            *Nombre requerido
                        </small>
                    </div>


                    <div class="col-md-5">
                        <label for="firstName">Apellido</label>
                        <input type="text" class="form-control" formControlName='apellido'
                            placeholder="Ingrese sus apellidos">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('apellido')?.errors?.['required'] && this.formularioRegistro.get('apellido')?.touched">
                            *Apellido requerido
                        </small>
                    </div>


                    <div class="col-md-3">
                        <label for="firstName">Edad</label>
                        <input type="number" class="form-control" formControlName='edad' placeholder="Ingrese su edad">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('edad')?.errors?.['required'] && this.formularioRegistro.get('edad')?.touched">
                            *Edad requerida
                        </small>

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('edad')?.errors?.['min'] || this.formularioRegistro.get('edad')?.errors?.['max']">
                            *La edad tiene que estar entre 18 y 99
                        </small>
                    </div>



                    <div class="col-md-6">
                        <label for="firstName">DNI</label>
                        <input type="number" class="form-control" formControlName='dni' placeholder="Ingrese su dni">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('dni')?.errors?.['required'] && this.formularioRegistro.get('dni')?.touched">
                            *DNI requerido
                        </small>

                        <small class="invalid"
                        *ngIf="this.formularioRegistro.get('dni')?.errors?.['min'] || this.formularioRegistro.get('dni')?.errors?.['max']">
                            *DNI Invalido
                        </small>
                    </div>


                    <div class="col-md-6">
                        <label for="firstName">Mail</label>
                        <input type="email" class="form-control" formControlName='mail' placeholder="Ingrese su mail">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('mail')?.errors?.['required'] && this.formularioRegistro.get('mail')?.touched">
                            *Mail requerido
                        </small>

                        <small class="invalid" *ngIf="this.formularioRegistro.get('mail')?.errors?.['email']">
                            *Mail Invalido
                        </small>
                    </div>



                    <div class="col-md-12">
                        <label for="firstName">Password</label>
                        <input type="password" class="form-control" formControlName='password'
                            placeholder="Ingrese su password">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('password')?.errors?.['required'] && this.formularioRegistro.get('password')?.touched">
                            *Password requerido
                        </small>
                    </div>



                    <div class="col-md-12 mb-12">
                        <label for="firstName">Repetir Password</label>
                        <input type="password" class="form-control" formControlName='repetir_password'
                            placeholder="Repita su password">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('repetir_password')?.errors?.['required'] && this.formularioRegistro.get('repetir_password')?.touched">
                            *Reingreso de Password requerido
                        </small>

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('repetir_password')?.value != this.formularioRegistro.get('password')?.value && this.formularioRegistro.get('repetir_password')?.value !=''">
                            *Reingrese la password
                        </small>
                    </div>


                    <div class="col-md-12 mb-12">
                        <label for="firstName">Foto (1 foto) </label>
                        <input type="file" class="form-control" formControlName='foto'
                            (change)="subirFoto($event)">

                        <small class="invalid"
                            *ngIf="this.formularioRegistro.get('fotoEspecialista')?.errors?.['required'] && this.formularioRegistro.get('fotoEspecialista')?.touched">
                            *Foto requerida
                        </small>
                    </div>


                </div>


                <div class="container">
                    <div class="row box-captcha" align="center">
                        <div class="col-12">
                            <!-- <h2>Captcha</h2> -->
                            <div class="row justify-content-end">
                                <div class="col-8">
                                    <div class="captcha">
                                        {{this.captcha}}
                                    </div>
                                </div>
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                        class="bi bi-arrow-clockwise refresh-captcha" viewBox="0 0 16 16" (click)="generarCaptcha()">
                                        <path fill-rule="evenodd"
                                            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                        <path
                                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                    </svg>
                                </div>
                            </div>

                            <input type="text" class="form-control" formControlName='captcha' placeholder="Ingrese las letras de arriba">
                            <small class="invalid"
                                *ngIf="this.formularioRegistro.get('captcha')?.errors?.['required'] && this.formularioRegistro.get('captcha')?.touched">
                                *Captcha requerido
                            </small>

                            <small class="invalid"
                                *ngIf="this.formularioRegistro.get('captcha')?.value != this.captcha && this.formularioRegistro.get('captcha')?.value != ''">
                                *Captcha Invalido
                            </small>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <hr class="mb-4">

                <div class="d-flex justify-content-center" style="color: #008B81;margin-bottom: 10px;" *ngIf="this.spinner">
                    <div class="spinner-border" role="status">
                    </div>
                  </div>
                <button class="w-100 boton" type="submit" [disabled]="formularioRegistro.invalid">Registrarse</button>
            </form>
        </div>

    </div>
</div>