<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 p-4">
                        <div>
                            <h3 class="fw-bold">Mis horarios</h3>
                                <div class="col-md-12">
                                    <h5>Seleccione la Especialidad:</h5>                                    
                                    <div class="row row-cols-4" *ngIf="this.listEspecialidades.length != 0">
                                        <div class="col especialistas-celda" (click)="selectEspecialidad(especialidad)"
                                            *ngFor="let especialidad of this.listEspecialidades"
                                            [ngClass]="{select: this.especialidadSelect && this.nombreEspecialidadSelect == especialidad}">
                                            {{especialidad}}
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                <div class="col-md-12">
                                    <h4>Semanales Lunes a Viernes</h4>
                                    <div class="row row-cols-12">

                                        <h5>Desde: <a>{{this.horaDesdeView}}</a></h5>
                                                                                
                                        <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
                                            <span>Cargando lista...</span>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </div>

                                        <div class="especialistas-celda mb-2" (click)="selectHoraDesdeLV(hora,i)"
                                            *ngFor="let hora of this.horariosLunesViernes_1; let i = index"
                                            data-index="i"
                                            [ngClass]="{'select': this.horaDesdeSelect && this.horaDesdeView == hora}">
                                            <div *ngIf="!this.spinner">
                                                {{hora}}
                                            </div>
                                        </div>


                                        <h5>Hasta: <a>{{this.horaHastaView}}</a></h5>
                                        <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
                                            <span>Cargando lista...</span>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </div>

                                        <div class="especialistas-celda" (click)="selectHoraHastaLV(hora,i)"
                                            *ngFor="let hora of this.horariosLunesViernes_2; let i = index"
                                            data-index="i"
                                            [ngClass]="{'select': this.horaHastaSelect && this.horaHastaView == hora}">
                                            <div *ngIf="!this.spinner">
                                                {{hora}}
                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                </div>

                                <div class="col-md-12">
                                    <h4>Fin de semana Sabados</h4>
                                    <div class="row row-cols-12">

                                        <h5>Desde: <a>{{this.horaDesdeViewS}}</a></h5>
                                        <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
                                            <span>Cargando lista...</span>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </div>

                                        <div class="especialistas-celda mb-2" (click)="selectHoraDesdeS(hora,i)"
                                            *ngFor="let hora of this.horariosSabado_1; let i = index" data-index="i"
                                            [ngClass]="{'select': this.horaDesdeSelectS && this.horaDesdeViewS == hora}">
                                            <div *ngIf="!this.spinner">
                                                {{hora}}
                                            </div>
                                        </div>


                                        <h5>Hasta: <a>{{this.horaHastaViewS}}</a></h5>
                                        <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
                                            <span>Cargando lista...</span>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </div>

                                        <div class="especialistas-celda" (click)="selectHoraHastaS(hora,i)"
                                            *ngFor="let hora of this.horariosSabado_2; let i = index" data-index="i"
                                            [ngClass]="{'select': this.horaHastaSelectS && this.horaHastaViewS == hora}">
                                            <div *ngIf="!this.spinner">
                                                {{hora}}
                                            </div>
                                        </div>


                                    </div>
                                    <hr>
                                </div>


                                <div class="d-grid">
                                    <button type="button" class="btn btn-updata" (click)="subirHorarios()">
                                        <i class="fa-solid fa-cloud-arrow-up px-2"></i>
                                        <a>Modificar Horarios</a>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>