body {
    background-color: transparent !important;
}

.container {
    padding-top: 25px;
}

.card {
    background-color: #ffffffd3;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px #000000d7;
}


.select{
    background-color: var(--color-sixty) !important;
}

.especialistas-celda{
    background-color: var(--color-fivety);
    color: white;
    cursor: pointer;
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0.4rem;
    border-radius: 0.3rem;
}

.especialistas-celda:hover{
    background-color: var(--color-fourty);
}

h5 a{
    color: var(--color-sixty);
    font-weight: bold;    
}

hr {
    border: 2px solid #008B81;
}

.btn-updata {
    background-color: var(--color-fivety);
    color: white;
    border-radius: 0.3rem;
    font-size: small;
    font-weight: bold;
}

.btn-updata:hover {
    background-color: var(--color-sixty);
}