<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 p-4">
                        <div>
                            <h3 class="fw-bold">Listado General de Turnos</h3>

                            <div style="width: 100%;">
                                <h5>Filtros para especialista</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="firstName">Nombre: </label>
                                        <input type="text" class="form-control"
                                            placeholder="Nombre"
                                            [(ngModel)]="this.filtroNombreEspecialista">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="firstName">Apellido: </label>
                                        <input type="text" class="form-control"
                                            placeholder="Apellido"
                                            [(ngModel)]="this.filtroApellidoEspecialista">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="firstName">Especialidad: </label>
                                        <input type="text" class="form-control" placeholder="Especialidad"
                                            [(ngModel)]="this.filtroEspecialidad">
                                    </div>

                                    <div class="col-md-3 btn-filter-clear">
                                        <button class="btn btn-medium btn-primary gap-2" (click)="clearFilters()"> 
                                            <i class="fa-solid fa-filter"></i>
                                            Limpiar filtros
                                        </button>
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-center estados gap-3" align="center">
                                    <a style="background-color: #ffff3d;">Pendiente</a>
                                    <a style="background-color: #02d002;">Aceptado</a>
                                    <a style="background-color: #f75d25;">Realizado</a>
                                    <a style="background-color: #fa1616;">Cancelado</a>
                                    <a style="background-color: #a30da3;">Rechazado</a>
                                </div>
                                <hr>

                                <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
                                    <span>Cargando lista...</span>
                                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                </div>


                                <table class="table table-striped table-bordered border-dark table-hover" *ngIf="!this.spinner">
                                    <thead class="table-dark" align="start">
                                        <tr>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Paciente</th>
                                            <th scope="col">Especialidad</th>
                                            <th scope="col">Especialista</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody align="start">
                                        <tr
                                            *ngFor="let turno of (this.listTurnosCaragos | filtroTurnosXNameEspecialista: filtroNombreEspecialista
                                                                                         | filtroTurnosXLastnameEspecialista: filtroApellidoEspecialista
                                                                                         | filtroTurnosXEspecialidad: filtroEspecialidad)">


                                            <td class="estado-line"
                                                *ngIf="turno?.estado_turno == 'Cancelado' || turno?.estado_turno == 'Pendiente'"
                                                [ngClass]="{'cancelado': turno?.estado_turno == 'Cancelado', 'pendiente': turno?.estado_turno == 'Pendiente'}">
                                                {{turno?.estado_turno}}
                                            </td>
                                            <td class="estado-line" *ngIf="turno?.estado_turno == 'Realizado'"
                                                [ngClass]="{'finalizado': turno?.estado_turno == 'Realizado'}">
                                                {{turno?.estado_turno}}
                                            </td>
                                            <td class="estado-line" *ngIf="turno?.estado_turno == 'Aceptado'"
                                                [ngClass]="{'aceptado': turno?.estado_turno == 'Aceptado'}">
                                                {{turno?.estado_turno}}
                                            </td>
                                            <td class="estado-line" *ngIf="turno?.estado_turno == 'Rechazado'"
                                                [ngClass]="{'rechazado': turno?.estado_turno == 'Rechazado'}">
                                                {{turno?.estado_turno}}
                                            </td>
                                            <td>{{turno?.fecha[0] +' - '+turno?.fecha[2]}}</td>
                                            <td class="text-capitalize">{{turno?.paciente.apellido + ' ' + turno?.paciente.nombre}}</td>
                                            <td class="text-capitalize">{{turno?.especialidad}}</td>
                                            <td class="text-capitalize">{{turno?.especialista.apellido + ' '+turno?.especialista.nombre }}</td>
                                            <td align="center">
                                                <button  *ngIf="turno.estado_turno == 'Pendiente'" class="mt-1 btn btn-table"                                                    
                                                    (click)='cancelarTurno(turno,content)'>Cancelar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Cancelacion de Turno</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">Comentario:</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Ingrese un comentario"
                        [(ngModel)]="this.auxComentario"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-danger" (click)="modal.close('Save click')"
                [disabled]="this.auxComentario == ''">Cancelar Turno</button>
        </div>
    </ng-template>
</body>