<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="header-form">
                        <div class="btn-volver gap-2" (click)="volver()">
                            <i class="fa-solid fa-arrow-left "></i>
                            <a>volver</a>
                        </div>
                    </div>

                    <div class="card mb-4 p-4">
                        <div>
                            <h3>{{this.titulo}}</h3>

                            <div class="row row-cols-1 row-cols-md-2 mb-2">
                                <div class="col-md-7">
                                    <h5>Listado <del></del> {{this.titulo}}</h5>
                                    <table class="table text-start" *ngIf="this.tipo == 'PAC'">
                                        <app-listado-pacientes
                                            (usuarioEvent)="capturoUsuario($event)"></app-listado-pacientes>
                                    </table>

                                    <table class="table text-start" *ngIf="this.tipo == 'ESP'">
                                        <app-listado-especialistas
                                            (usuarioEvent)="capturoUsuario($event)"></app-listado-especialistas>
                                    </table>

                                    <table class="table text-start" *ngIf="this.tipo == 'ADM'">
                                        <app-listado-administradores
                                            (usuarioEvent)="capturoUsuario($event)"></app-listado-administradores>
                                    </table>
                                </div>

                                <div class="col-md-5">
                                    <h5>Info de {{this.titulo.slice(0,this.titulo.length-1)}}</h5>
                                    <table class="table text-start">
                                        <app-datos-usuario [infoUsuario]='this.infoUsuario'></app-datos-usuario>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>