body {
    background-color: transparent !important;
}

.container {
    padding-top: 25px;
}

.card {
    background-color: #ffffffd3;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px #000000d7;
}

.card-img{
    /* border: 1px solid #0000006b; */
}

img{
    border-radius: 0.3rem;
}

h5, h6{
    color: #000000c4;    
}

h5{
    font-size: medium;
}

h6{
    font-size: small;
}

.card-body .row .col-sm-3{
    font-size: medium;
    font-weight: bold;
}

.card-body .row .col-sm-9{
    font-size: medium;
}

hr{
    border: 1px solid var(--color-fivety);
}

.btn-info, .btn-check-esp{
    font-size: small;
    font-weight: bold;
    color: black;
}
