<body>
    <section>
        <div class="container">
            <div class="row">
                <!-- <h2 style="padding-left: 15px;">Mi Perfil</h2> -->
                <div class="card mb-4 p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-img">
                                <div class="card-body text-center">
                                    <ngb-carousel #carousel [interval]="10000" [pauseOnHover]="pauseOnHover"
                                        [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)"
                                        *ngIf="this.AuthService.user.tipoUsuario =='PAC'">
                                        <ng-template ngbSlide
                                            *ngFor="let img of this.AuthService.user.foto; index as i">
                                            <div class="carousel-caption">
                                            </div>
                                            <a target="_blank" rel="nofollow noopener noreferrer">
                                                <div class="picsum-img-wrapper">
                                                    <img [src]="img" class="d-block w-100" />
                                                </div>
                                            </a>
                                        </ng-template>
                                    </ngb-carousel>


                                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel"
                                        *ngIf="this.AuthService.user.tipoUsuario !='PAC'">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" [src]='this.AuthService.user.foto'>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="my-2">
                                        <h5 class="fw-bold">{{this.tipoUsuario}}</h5>
                                        <h6 class="text-capitalize">{{this.AuthService.user.nombre +' '+
                                            this.AuthService.user.apellido}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 style="padding-left: 5px;">Datos Personales</h4>
                            <div *ngIf="this.AuthService.user.tipoUsuario == 'PAC'">
                                <button class="mt-2 btn btn-info" (click)="createPdf()">
                                    <i class="fa-solid fa-print"></i>
                                   Descargar mi historial clinico : {{this.especialidadSelect}}
                                </button>

                                <div class="dropdown  btn-check-esp">
                                    <button class="btn btn-check-esp btn-warning dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Seleccione Especialidad de Historial
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li style="cursor: pointer;">
                                            <a class="dropdown-item" (click)="selectEspecialidad('Todas')">Todas</a>
                                        </li>
                                        <li style="cursor: pointer;" *ngFor="let nombre of this.especialidades">
                                            <a class="dropdown-item" (click)="selectEspecialidad(nombre)">{{nombre}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-class">Nombre:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0 text-capitalize">{{this.AuthService.user.nombre}}</p>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-class">Apellido:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0 text-capitalize">{{this.AuthService.user.apellido}}</p>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-class">Edad:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{this.AuthService.user.edad}}</p>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-class">DNI:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{this.AuthService.user.dni}}</p>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row" *ngIf="this.AuthService.user.tipoUsuario == 'PAC'">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-class">Obra Social:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{this.AuthService.user.obra_social}}</p>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row" *ngIf="this.AuthService.user.tipoUsuario == 'ESP'">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-class">Especialidad:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{this.AuthService.user.especialidad}}</p>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0 text-class">Email:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{this.AuthService.user.mail}}</p>
                                        </div>
                                        <hr>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>