body {
  background-color: transparent !important;
}

thead tr th {
  font-weight: 500;
  cursor: default;
  font-size: small;
}

tbody tr td {
  font-size: small;
}

label {
  font-size: small;
  font-weight: 600;
}

hr {
  border: 3px solid white;
}

th {
  width: 200px;
}

input {
  background-color: #41414138;
  font-size: small;
  border: 1px solid #0000004f;
}

tr:hover {
  cursor: pointer;
  background-color: #15398294;
}

tr:hover td {
  color: white !important;
}

p {
  font-weight: bold;
}

text {
  font-weight: bold;
  font-size: 28px;
  text-shadow: white 1px 0 5px;
}

h4 {
  text-transform: capitalize;
  font-weight: 500;
  color: #008B81;
  margin: 0.5rem 0rem;    
}

/* Clases */
.text-class {
  font-weight: bold;
}

.container {
  padding-top: 25px;
}

.card {
  background-color: #ffffffd3;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 10px #000000d7;
  overflow: hidden;
}

.container-listados {
  width: 100%;
  height: 100%;
  background-color: #ffffffd3;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 10px #000000d7;
  padding: 1.6rem;
  margin: 1rem 0;
}

.fechas {
  background-color: #03aca1;
  color: black;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid black;
  font-weight: 600;
  margin: 5px 8px;
}

.especialistas-celda {
  background-color: #008B81;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  height: 40px !important;
  width: auto !important;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  margin: 1em;
  padding-bottom: 30px;
  cursor: pointer;
}

.especialidad-circulo {
  background-color: #008B81;
  height: 200px;
  width: auto;
  border-radius: 100%;
}

.select {
  background-color: #153982d2;
  color: white !important;
}

.select-pac {
  background-color: #153982d2;
  color: white !important;
}

.select-pac td {
  color: white;
  border-bottom: 1px solid var(--color-fivety);
  border-top: 1px solid var(--color-fivety);
}

.especialidad-Cardiologia,
.especialidad-Pediatria,
.especialidad-Neumologia,
.especialidad-Default {
  height: 160px;
  width: auto;
  border-radius: 100%;
  padding-top: 10%;
  overflow: hidden;
}

.especialistas-img {
  height: 160px !important;
  width: 160px;
  border-radius: 100% !important;
  overflow: hidden;
}

.img-esp {
  transform: scale(1.7);
}

.boton {
  background-color: #008B81;
  color: white;
  font-weight: 600;
  font-size: small;
  border-radius: 8px;
  height: 40px;
  border: none;
}

.invalid {
  color: rgb(186, 19, 19);
}

.spinner {
  height: 24px;
  width: 24px;
}

.box-spinner {
  color: var(--color-fourty);
  font-weight: 600;
}

.btn-table {
  color: white;
  background-color: #e61919e0;
  font-size: small;
  font-weight: 500;
  cursor: pointer;
}

.btn-filter-clear {
  display: flex;
  justify-content: end;
  align-items: end;
}

.btn-filter-clear button {
  font-size: small;
}

.pendiente {
  border-left: 5px solid #ffff3d;
}

.cancelado {
  border-left: 5px solid #fa1616;
}

.finalizado {
  border-left: 5px solid #f75d25;
}

.aceptado {
  border-left: 5px solid #02d002;
}

.rechazado {
  border-left: 5px solid #a30da3;
}

.estado-line {
  padding-left: 15px;
}

.estados {
  width: 100%;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
  cursor: default;
}

.estados > a {
  padding: 5px;
  border-radius: 0.3rem;
  border: 1px solid #0000004f;
  font-size: small;
}

.title-sections {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
}

.section-list {
  background-color: var(--color-fourty);
}

.section-register {
  background-color: var(--color-fivety) !important;
}

.admin-reg,
.espe-reg,
.paci-reg,
.admin-list,
.espe-list,
.paci-list {
  width: 100%;
  min-height: 25vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.admin-reg {
  background-image: url("../../../assets/imagenes/img/registro_adm.webp");
}

.espe-reg {
  background-image: url("../../../assets/imagenes/img/registro_esp.webp");
}

.paci-reg {
  background-image: url("../../../assets/imagenes/img/registro_pac.webp");
}

.admin-list {
  background-image: url("../../../assets/imagenes/img/lista_adm.webp");
}

.espe-list {
  background-image: url("../../../assets/imagenes/img/lista_esp.webp");
}

.paci-list {
  background-image: url("../../../assets/imagenes/img/lista_pac.webp");
}

.col {
  transform: scale(1);
}

.col:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 75%;
}

.fechas:hover {
  background-color: #5d90f7;
  color: white;
}

.especialistas-celda:hover {
  background-color: #5d90f7;
}

.boton:enabled:hover {
  cursor: pointer;
  background-color: #153982da;
  color: white;
  font-weight: 600;
}

.boton:disabled {
  opacity: 85%;
}

.btn-table:hover {
  background-color: #961717e0 !important;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

