<app-menu></app-menu>

<div class="body d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center pt-4">
        <div class="d-flex justify-content-center align-items-center pt-4">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2">
                <div class="col">
                    <div class="box-login right-panel-active">
                        <div class="overlay-container">
                            <div class="overlay">
                                <div class="overlay-panel">
                                    <h1 class="title-welcome">Inicio de sesion</h1>                                    
                                    <p class="pt-4">Para reservar un turno, por favor inicie sesión con su correo
                                        electrónico y contraseña.</p>
                                    <p>Si no tiene una cuenta, <a routerLink="/registro">regístrese acá</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-container sign-in-container pt-4">
                            <form [formGroup]="formLogin" (submit)="onLogin()">
                                <span class="invalid" *ngIf="this.userExist && this.noEncontroUser">
                                    *El usuario no existe
                                </span>
                                <span class="invalid" *ngIf="this.noHabilitado">
                                    *El usuario no fue Habilitado
                                </span>
                                
                                <div class="py-3">
                                    <input type="email" placeholder="mail" formControlName='mail' class="input-form">
                                    <small class="invalid"
                                        *ngIf="this.formLogin.get('mail')?.errors?.['required'] && this.formLogin.get('mail')?.touched">
                                        *Mail requerido
                                    </small>

                                    <small class="invalid" *ngIf="this.formLogin.get('mail')?.errors?.['email']">
                                        *Mail invalido
                                    </small>


                                    <input type="password" placeholder="password" formControlName='password'
                                        class="input-form">
                                    <small class="invalid"
                                        *ngIf="this.formLogin.get('password')?.errors?.['required'] && this.formLogin.get('password')?.touched">
                                        *Password requerido
                                    </small>


                                </div>

                                <div class="spinner-border text-success" role="status" *ngIf="this.spinner">
                                </div>

                                <button class="w-100 boton" type="submit" [disabled]="formLogin.invalid"
                                    (click)="onLogin()">
                                    login
                                </button>

                                <hr>

                                <div>
                                    <h5>Accesos rapidos</h5>
                                    <div class="row ">
                                        <div *ngFor="let usr of usersAccessLocal" class="col-6 col-md-4 col-lg-3 mb-3"
                                            (click)="loginRapido(usr.email, usr.password)">
                                            <button type="button" class="icon-button" [title]="usr.type == 'ADM' ? 'Administrador' : usr.type == 'ESP' ? 'Especialista' : usr.type == 'PAC' ? 'Paciente' : ''">
                                                <i *ngIf="usr.type == 'ADM'" class="fa-solid fa-user-tie"></i>
                                                <i *ngIf="usr.type == 'ESP'" class="fa-solid fa-user-doctor"></i>
                                                <i *ngIf="usr.type == 'PAC'" class="fa-solid fa-user"></i>
                                            </button>                                            
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>