<!--          
<div class="header-form">
    <div class="btn-volver" (click)="volver()" *ngIf="this.AuthService.user.tipoUsuario == 'ADM'">
        <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2.25 12c0 5.384 4.365 9.75 9.75 9.75 5.384 0 9.75-4.366 9.75-9.75 0-5.385-4.366-9.75-9.75-9.75A9.75 9.75 0 0 0 2.25 12Zm9.968-4.282a.751.751 0 0 1 .004 1.06L9.77 11.25h6.261a.75.75 0 1 1 0 1.5H9.77l2.452 2.472a.75.75 0 1 1-1.066 1.056l-3.721-3.75a.75.75 0 0 1 0-1.056l3.721-3.75a.75.75 0 0 1 1.062-.005Z">
            </path>
        </svg>
        <a style="margin-left: 10px;">volver</a>
    </div>
</div> -->


<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-4 p-4">
                        <div>
                            <h3 class="fw-bold">Historia Clinico</h3>
                            <div style="width: 100%;">
                                <h4>Seleccion de Paciente:</h4>

                                <div class="d-flex align-items-center" *ngIf="this.spinner" style="color: #153A82;">
                                    <span>Cargando lista...</span>
                                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                </div>


                                <div *ngIf="!this.spinner">

                                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-2">
                                        <div class="col" *ngFor='let paciente of listaPacienteAux'>
                                          <div class="card h-100">
                                            <img src="{{paciente.foto}}" class="card-img-top" alt="Foto del paciente" style="height: 100px; width: 100%; object-fit: cover;">
                                            <div class="card-body">
                                              <h6 class="card-title fw-bold text-capitalize">
                                                {{paciente.apellido + " " + paciente.nombre}}
                                              </h6>
                                              <div class="card-text">                                                
                                                <p class="info-dni fw-bold">DNI: {{paciente.dni}}</p>  
                                                <p class="fw-bold"><u>Email:</u> {{paciente.mail}}</p>
                                              </div>                                              
                                              <button class="mt-2 btn w-100 g-1" (click)='seleccionarPaciente(paciente)'>
                                                <i class="fa-solid fa-file-waveform "></i>
                                                Ver Historial
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      
                                </div>


                                <div>
                                    <div class="d-flex align-items-center" *ngIf="this.spinnerHC"
                                        style="color: #153A82;">
                                        <span>Buscando historial clinico...</span>
                                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                    </div>

                                    <div *ngIf="!this.spinnerHC">
                                        <div style="padding: 5px 5px 5px 5px">
                                            <app-detalle-historia-clinica [selectPaciente]='this.pacienteSeleccionado'>
                                            </app-detalle-historia-clinica>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>