body {
    background-color: transparent !important;
}


th {
    width: 200px;
}

thead tr th {
    font-weight: 500;
    cursor: default;
    font-size: small;
}

tbody tr td {
    font-size: small;
}

p{
    padding: 0;
    margin: 0;
}

.card-text{
    font-size: small;
}

.btn{
    font-weight: 500;
    color: white !important;
    background-color: var(--color-fourty);
}

.btn:hover{    
    background-color: var(--color-fivety);
}

.container {
    padding-top: 25px;
}

.card {
    background-color: #ffffffd3;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 10px #000000d7;
}



p span{
    font-size: small;    
}

a{
    font-weight: bold;
}

.datos-personales{
    font-weight: 600;
}


.header-form {
    background-color: #008b82bb;
    padding: 2% 5%;
    font-weight: 600;
    font-size: x-large;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.header-form > .btn-volver {
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    max-width: 10rem;    
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.header-form > .btn-volver:hover {
    transform: scale(1.05);
    background-color: #153982da;
    cursor: pointer;
}

.header-form > .btn-volver:active {
    transform: scale(0.95);
}

.header-form > .btn-volver:focus {
    outline: none;
}

.btn-volver{
    display: flex;
    justify-content: center;
    align-items: center;
}